global
    maxconn 50000
    log /dev/log local0
    user haproxy
    group haproxy

defaults
    timeout connect 10s
    timeout client 30s
    timeout server 30s
    log global
    mode http
    option httplog
    maxconn 3000

frontend nginx-test-scenario-two
    bind {{ hostvars[inventory_hostname]['lb-vip'] }}:80
    default_backend web_servers

backend web_servers
    balance roundrobin
    cookie SERVERUSED insert indirect nocache
    option httpchk HEAD /
    {% for host in groups['web'] -%}
    server {{ hostvars[host]['inventory_hostname'] }} {{ hostvars[host]['inventory_hostname'] }}:8000
    {% endfor %}
