global_defs {
   router_id {{ ansible_default_ipv4.address|default(ansible_all_ipv4_addresses[0]) }} 
   vrrp_skip_check_adv_addr
   vrrp_strict
   vrrp_garp_interval 0
   vrrp_gna_interval 0
}
vrrp_instance VI_1 {
    state EQUAL
    interface {{ ansible_default_ipv4.interface }}
    virtual_router_id {{ hostvars[inventory_hostname]['vrrp-id'] }}
    priority 100
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass supersecretpw
    }
    virtual_ipaddress {
        {{ hostvars[inventory_hostname]['lb-vip'] }}
    }
}

